# Fichiers Python inutiles
__pycache__/
*.py[cod]
*$py.class

# Virtual env
venv/
.env/

# Fichiers système
.DS_Store

# Logs
*.log

# Autres fichiers temporaires
*.tmp

*.waveform_library

Experiment/Phase_A/Pilot_V1/interface/images