# Fichiers Python inutiles
__pycache__/
*.py[cod]
*$py.class

# Virtual env
venv/
.venv/
.env/

# Fichiers système
.DS_Store

# Logs
*.log

# Autres fichiers temporaires
*.tmp

*.waveform_library

# IDE settings
.vscode/
.idea/

Experiment/Single_Comparison/images/
